@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #000;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #898585;
}
h3 {
  font-size: 30px;
  color: black;
}
h4 {
  font-size: 20px;
  color: black;
}
h5 {
  font-size: 16px;
  color: black;
}
h6 {
  font-size: 12px;
  color: black;
  font-weight: 700;
}
p {
  font-size: 16px;
  color: darkslategrey;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button.normal {
  background: #b40024;
  border-radius: 5px;
  display: inline-block;
  color: #ebc0c0;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
  border: 1px solid #e7e4e2;
  min-width: 122px;
  text-align: center;
  height: 44px;
  left: 440px;
  top: 64px;
  transition: 0.3s;
}
button.normal:hover {
  background: #e0d4d7;
  color: #000;
}
/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#header a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 40px;
  color: rgb(69, 108, 109);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(69, 108, 109);
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(240, 157, 122);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 20px;
  height: 2px;
  background: rgb(69, 108, 109);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  align-items: center;
  display: none;
}
#close {
  display: none;
}

/* Home Page */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url('/images/banner/banner-home-page.webp');
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}
#hero-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#hero-options .options-box {
  width: 380px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid rgb(211, 208, 208);
  border-radius: 4px;
  margin: 15px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero-options .options-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.06);
}
#hero-options .options-box img {
  width: 100%;
  margin-bottom: 10px;
}

.options-box h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #b40024;
}
.options-box h5 {
  font-size: 17px;
  line-height: 1;
  font-weight: 500;
  padding: 20px;
  color: rgb(69, 108, 109);
}
#hero-product-one {
  text-align: center;
}

#hero-product-one h4 {
  color: rgb(69, 108, 109);
  font-weight: 400;
}
#hero-product-one .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

#hero-product-one .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid rgb(211, 208, 208);
  cursor: pointer;
  margin: 15px 0;
  position: relative;
}
#hero-product-one .pro img {
  width: 100%;
}
#hero-product-one .pro .des {
  text-align: center;
  padding: 10px 0;
}
#hero-product-one .pro .des h5 {
  padding-top: 7px;
  color: rgb(69, 108, 109);
  font-size: 14px;
}
#hero-product-one .pro .des i {
  color: rgb(216, 172, 52);
  font-size: 12px;
}
#hero-product-one .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(69, 108, 109);
}
#banner-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url('/images/banner/banner-home.webp');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner-two h4 {
  color: #b40024;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 400;
}
#banner-two h2 {
  font-size: 46px;
  font-weight: 500;

  color: rgb(69, 108, 109);
}
#banner-two p {
  font-size: 20px;
  padding-bottom: 20px;
}
#bottom-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#bottom-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/images/banner/banner3.jpg');
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 10px;
}
#bottom-banner .banner-box-two {
  background-image: url('/images/banner/banner4.jpg');
}
#bottom-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#bottom-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 15px;
  font-weight: 800;
}
#bottom-banner button {
  border: #b40024;
}
#banner-bottom-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner-bottom-two .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url('/images/banner/banner3.jpg');
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-bottom-two .banner-box h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner-bottom-two .banner-box h3 {
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}
#banner-bottom-two .one {
  background-image: url('/images/banner/spa.webp');
}
#banner-bottom-two .two {
  background-image: url('/images/banner/gift.webp');
}
#banner-bottom-two .tree {
  background-image: url('/images/banner/mens.jpg');
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  flex-wrap: wrap;
  background: rgb(247, 235, 217);
  height: 15vh;
  margin-bottom: 10px;
}
#newsletter h4 {
  font-size: 20px;
  font-weight: 600;
  color: #b40024;
}
#newsletter span,
#newsletter p {
  color: #b40024;
  font-size: 10px;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #ebc0c0;
  color: #000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 3.125rem;
}
#advantages-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(239, 240, 240);
}
#advantages-options .options-box {
  width: 200px;
  text-align: center;
  padding: 20px 0px;
  box-shadow: 20px 20px 34px 20px rgba(0, 0, 0, 0.03);
  /* border: 1px solid rgb(211, 208, 208); */
  border-radius: 50%;
  margin: 15px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .col .logo {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer .col a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(69, 108, 109);
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #000;
  margin-top: 20px;
  padding-right: 4px;
  cursor: pointer;
}

footer .install img {
  border: 1px solid lightgray;
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer .col a:hover {
  color: rgb(240, 157, 122);
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop page */
#shop-header {
  background-image: url('/images/banner/banner-home.webp');
  width: 100%;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#shop-header h2,
#shop-header p {
  color: rgb(69, 108, 109);
}
#shop-header .shop-button {
  margin: 10px;
}

#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background: lavenderblush;
  padding: 15px 20px;
  border-radius: 15px;
  color: #5e5a5a;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single product Page  */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-img {
  width: 40%;
  margin-right: 15px;
}
.sm-img-gr {
  display: flex;
  justify-content: space-between;
}
.sm-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 20px;
}
#prodetails .single-pro-details h2,
#prodetails .single-pro-details p,
#prodetails .single-pro-details span {
  color: #898585;
  font-weight: 400;
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details .star {
  color: gold;
}
.colors {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.colors img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#prodetails .single-pro-details h4 {
  color: #1d1c1c;
  font-weight: 600;
  padding: 20px 0 20px 0;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 37px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#more-details,
#more-details .content h4 {
  text-align: center;
}
#more-details .content {
  text-align: left;
  line-height: 2;
  padding: 20px;
}
.collapsible {
  background-color: #eee;
  color: #868383;
  cursor: pointer;
  padding: 5px;
  width: 120px;
  border: none;
  height: 50px;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
}
.content {
  padding: 10 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}
.content p,
.content h4 {
  padding-bottom: 20px;
}
/* JoliLipstuck page */
#banner-two-lipstick {
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
#banner-two-lipstick img {
  width: 50%;
}
#banner-two-lipstick div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* SPA Page */

#spa-header {
  background-image: url('/images/banner/spa-banner-two.webp');
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dfd3d4;
  width: 100%;
  position: relative;
}

#spa-header .header-box {
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: -40px;
  width: 442px;
  border-radius: 8px;
}
#spa-header h3,
#spa-header p {
  color: #b40024;
  padding: 10px;
}
.spa-box {
  display: flex;
  align-items: center;
  width: 100%;
  
}
.spa-box .spa-img {
  width: 50%;
  margin-right: 40px;
}
#spa img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.spa-box {
  padding: 20px;
}
.spa-box .spa-details {
  width: 50%;
}
.spa-box .spa-details h4 {
  padding: 10px 0;
  text-transform: uppercase;
}
.spa-box .spa-details p {
  padding-bottom: 10px;
}
.spa-box .spa-details span {
  color: #b40024;
}
.spa-box .spa-details a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b40024;
  font-weight: 800;
  transition: 0.3s;
}
.spa-box .spa-details a:hover {
  color: #ebc0c0;
}

/* treatments */

#treatment-header {
  background-image: url('/images/banner/spa-banner.webp');
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#treatment {
  background-image: url('/images/backgroundSpa.webp');
  /* background-color: #eee; */
  display: flex;
}


.treatment-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  /* border: 2px solid green; */
  margin: 20px;
}

.treatment-box .treatment-img {
  width: 50%;
  margin-right: 20px;
}
.treatment-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.treatment-box .treatment-details {
  width: 50%;
}
.treatment-box .treatment-details h2 {
  font-size: 30px;
  line-height: 1em;
}
/* About page */
#about-header-banner {
  background-image: url('/images/banner/banner-home.webp');
  width: 100%;
  background-size: cover;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.about-box {
  display: flex;
  align-items: center;
  background-color: #eee;
  margin: 10px;
  padding: 20px;
}
.about-box img {
  width: 50%;
  background-size: cover;
  height: auto;
}
.about-box h1,
.about-box h2 {
  color: #5e5a5a;
  text-align: center;
}
.about-box h4 {
  color: #b40024;
  text-align: center;
  padding-bottom: 10px;
}
.about-box div {
  padding-left: 40px;
}
.about-box marquee {
  margin-bottom: 20px;
  background-color: #fff;
}
#spa-video {
  text-align: center;
}
#spa-video .video {
  width: 50%;
  height: 450px;
  margin: 30px auto 0 auto;
}
#spa-video .video iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* Contact Page */
#contact-header-banner {
  background-image: url('/images/banner/contact-banner.jpg');
  width: 100%;
  background-size: cover;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#contact-header-banner h2 {
  text-align: center;
  color: #b40024;
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}
#contact-details .details {
  width: 40%;
}
#contact-details span,
#form-details form span {
  font-size: 12px;
}
#contact-details h3,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 15px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details h4 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  background: #eee;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
#form-details form h2 {
  text-align: center;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
#form-details form button {
  background: #ebc0c0;
  color: #5e5a5a;
  font-size: 17px;
}
#team {
  display: flex;
  justify-content: space-between;
  background: #eee;
}
.people {
  background: #eee;
}
.people h2,
.people h4,
.team-box h3 {
  text-align: center;
  padding: 10px;
  color: #5e5a5a;
}
.team-box {
  padding: 10px;
  margin: 10px;
  width: 350px;
  border-radius: 8px;
}
.team-box img {
  width: 100%;
  border-radius: 8px;
}
 /* Cart page */
#cart h2 {
  color: #898585;
  text-align: center;
}

/* Media queries */

@media (max-width: 1359px) {
  #hero-options .options-box {
    width: 280px;
  }
  #advantages-options .options-box {
    width: 180px;
  }
  /* About Page */
  #spa-video .video {
    width: 100%;
  }
}
@media (max-width: 1299px) {
  #bottom-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }
  /* About Page */
  #spa-video .video {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  #hero-product-one .pro {
    min-width: 200px;
  }
  #advantages-options .options-box {
    width: 160px;
  }
  /* About Page */
  #spa-video .video {
    width: 100%;
  }
}
@media (max-width: 1099px) {
  body {
    width: 100%;
  }
  .section-p1 {
    padding: 40px 60px;
  }
  #hero-product-one .pro {
    min-width: 300px;
  }
  #hero-options .options-box {
    width: 260px;
  }
  #banner-two {
    width: 100%;
    height: 45vh;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  #advantages-options .options-box {
    width: 200px;
  }
  /* Single Product Page */

  /* About Page */

  #spa-video .video {
    width: 100%;
  }
  /* CONTACT page */
  .people h2 {
    font-size: 36px;
    padding-top: 20px;
  }
  .people h4,
  .team-box h3 {
    font-size: 20px;
    text-transform: lowercase;
  }
}

@media (max-width: 886px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #header a {
    font-size: 30px;
  }
  #hero-options {
    flex-direction: column;
  }
  #hero-options .options-box {
    width: 100%;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }

  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
  }
}

@media (max-width: 799px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .section-p1 {
    padding: 30px 30px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e6efeb;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #bottom-banner .banner-box {
    min-width: 100%;
    height: 35vh;
    margin-bottom: 10px;
  }
  #bottom-banner span {
    padding-bottom: 5px;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  #newsletter .form {
    width: 70%;
  }
  /* Spa page */
  #spa-header .header-box {
    padding: 20px 30px;
    background-color: #fff;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -30px;
    width: 342px;
    border-radius: 8px;
  }
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }

  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 718px) {
  .section-p1 {
    padding: 30px 30px;
  }
  #hero-product-one .pro-container {
    flex-direction: column;
  }
  #hero-product-one .pro {
    width: 100%;
  }
  #banner-two {
    height: 40vh;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  /* Spa page */
  #spa-header .header-box {
    padding: 20px 30px;
    background-color: #fff;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -30px;
    width: 342px;
    border-radius: 8px;
  }
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box h1 {
    font-size: 40px;
  }
  .about-box h4 {
    font-size: 18px;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }
  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 650px) {
  .section-p1 {
    padding: 20px 20px;
  }
  #banner-two {
    height: 40vh;
  }
  #banner-bottom-two .banner-box {
    width: 100%;
    height: 40vh;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 20px;
  }
  /* Spa page */
  #spa-header .header-box {
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -30px;
    width: 342px;
    border-radius: 8px;
  }
  #spa {
    padding: 50px 10px 20px 10px;
  }
  .spa-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .spa-box .spa-details h2 {
    font-size: 30px;
  }
  .spa-box .spa-details h4 {
    font-size: 14px;
    text-transform: uppercase;
  }
  .spa-box .spa-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .spa-box .spa-details {
    width: 100%;
  }
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box h1 {
    font-size: 40px;
  }
  .about-box h4 {
    font-size: 18px;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }

  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
    height: 250px;
  }
  /* Contact Page */
  #form-details form {
    width: 85%;
  }
}
@media (max-width: 499px) {
  .section-p1 {
    padding: 20px 20px;
  }
  #header {
    padding: 20px 40px;
  }
  #banner-two {
    height: 35vh;
  }
  #banner-bottom-two {
    padding: 0 20px;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  #newsletter .form {
    width: 100%;
  }
  #advantages-options .options-box {
    width: 180px;
  }
  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 20px;
  }
  /* JoliLipstuck page */
  #banner-two-lipstick {
    flex-direction: column;
    margin: 10px;
  }
  #banner-two-lipstick img {
    width: 50%;
  }
  /* Spa page */
  #spa-header .header-box {
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -30px;
    width: 342px;
    border-radius: 8px;
  }
  #spa {
    padding: 50px 10px 20px 10px;
  }
  .spa-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .spa-box .spa-details h2 {
    font-size: 30px;
  }
  .spa-box .spa-details h4 {
    font-size: 14px;
    text-transform: uppercase;
  }
  .spa-box .spa-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .spa-box .spa-details {
    width: 100%;
  }
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box h1 {
    font-size: 40px;
  }
  .about-box h4 {
    font-size: 18px;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }

  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
    height: 250px;
  }
  /* Contact Page */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details,
  #contact-details .map {
    width: 100%;
  }
  #form-details form {
    width: 85%;
  }
  .people h2 {
    font-size: 26px;
  }
  .people h4 {
    font-size: 18px;
    font-weight: 400;
  }
  #team {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .section-p1 {
    padding: 20px 20px;
  }
  #header {
    padding: 20px 40px;
  }
  #banner-two {
    height: 35vh;
  }
  #banner-two h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  #banner-two p {
    font-size: 16px;
  }
  #advantages-options {
    flex-direction: column;
    align-items: center;
  }
  #advantages-options .options-box {
    width: 100%;
  }
  #banner-bottom-two {
    justify-content: center;
    padding: 0 20px;
    align-items: center;
  }
  #newsletter {
    height: 20vh;
    margin-bottom: 5px;
  }
  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 20px;
  }
  /* Spa page */

  #spa {
    padding: 50px 10px 20px 10px;
  }
  #spa-header .header-box {
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -30px;
    width: 242px;
    border-radius: 8px;
  }
  #spa {
    padding: 50px 10px 20px 10px;
  }
  .spa-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .spa-box .spa-details h2 {
    font-size: 30px;
  }
  .spa-box .spa-details h4 {
    font-size: 14px;
    text-transform: uppercase;
  }
  .spa-box .spa-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .spa-box .spa-details {
    width: 100%;
  }
  /* treatment page */
 
  /* About Page */
  .about-box {
    flex-direction: column;
  }
  .about-box h1 {
    font-size: 40px;
  }
  .about-box h4 {
    font-size: 18px;
  }
  .about-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  .about-box div {
    padding-left: 0;
  }

  #spa-video h2 {
    font-size: 30px;
    line-height: 30px;
  }
  #spa-video .video {
    width: 100%;
    height: 250px;
  }
}
